@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
	<div class="container fixed-bottom" id="dark">
			&copy; 2021 - WowCombatStats.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>